Package             Version
------------------- ---------
Django              4.0.3
django-cors-headers 3.11.0
django-environ      0.8.1
django-filter       21.1
djangorestframework 3.13.1
drf-yasg            1.20.0
Pillow              9.0.1
requests            2.27.1
whitenoise          6.0.0
